.filtered #batch-action-form .actions {
    margin-right: 160px !important;
    border-right: 1px solid #ddd;
}

#batch-action-form .actions {
    padding: 4px 3px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ddd;
    background: #efefef;
}

#batch-action-form .actions:last-child {
    border-bottom: none;
}

#batch-action-form .actions select {
    border: 1px solid #aaa;
}

#batch-action-form .actions label {
    font-size: 11px;
    margin-left: 1.5em;
}

#batch-action-form .actions button.all {
    display: none;
}

#batch-action-form tbody tr input.batch-select {
    margin: 0;
}

#batch-action-form thead th:first-child {
    width: 1.5em;
    text-align: center;
}

#batch-action-form tbody td:first-child {
    border-left: 0;
    border-right: 1px solid #ddd;
    text-align: center;
}

#batch-action-form tbody tr.selected a,
#batch-action-form tbody tr.selected th,
#batch-action-form tbody tr.selected td {
    color: #fff;
    background-color: #6C9DCC;
    border-color: #83ACDF;
}
